@import '../../assets/css/mixins';
@import '../../assets/css/variables';

.field-textarea {
  position: relative;
  text-align: left;
}
.field-textarea__error {
  position: absolute;
  bottom: -8px;
  left: 0;
  display: inline-block;
  vertical-align: top;
  font-size: rem(12px);
  line-height: 12px;
  color: $red;
  background: $white;
  padding: 3px 5px;
  margin-left: 15px;
}